.footer__link {
    margin: 0 auto;
    padding: 0;
    color: #FFFFFF;
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 112%;
    transition: opacity 0.3s ease;
}

.footer__link:hover {
    opacity: 0.8;
}

@media screen and (max-width: 665px) {
    .footer__link {
        font-size: 24px;
        line-height: 24px;
    }
}