.lead__subtitle {
    margin: 0 auto;
    margin-bottom: 64px;
    color: #FFFFFF;
    max-width: 640px;
    font-weight: 400;
    font-size: 30px;
    line-height: 120%;
    text-align: center;
    
}

@media screen and (max-width: 700px) {
    .lead__subtitle {
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 40px;
    }
}