.cover {
    margin: 0 auto;
    margin-top: 92px;
    margin-bottom: 92px;
    max-width: 1184px;
}

@media screen and (max-width: 1024px) {
    .cover {
    width: 100%;
    }
}

@media screen and (max-width: 400px) {
    .cover {
    margin-top: 66px;
    margin-bottom: 64px;
    }
}

